/* Work Sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles*/
.explore-btn{
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;
  border: 0;
  border-radius: 8px;
  background: #FF900E;
  padding: 15px 15px;
  cursor: pointer;
}

.explore-btn:hover{
  opacity: 0.8;
}

.explore-btn:active{
  background-color: rebeccapurple;
  color: #FF900E;
}

*{
  font-family: 'Work Sans', sans-serif;
}

/* header related styles */

header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 40px;
}

/* nav styles */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title{
  color: #131313;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
}

nav > ul{
  display: flex;
}

nav li{
  list-style: none;
  margin-right: 25px;
  font-weight: 400px;
  font-size: 1rem;
}

nav li a{
  text-decoration: none;
  color: #424242;
}
/* banner styles */
.banner-content{
  max-width: 880px;
  text-align: center;
  margin: 0 auto;
}

.banner-title{
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}

.banner-description{
  color: #727272;
}

.banner-img{
  margin-top: 20px;
  width: 100%;
}


/* main related styles */
main{
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px;
}

/* teams section styles */
.teams-container{
  display: flex;
  align-items: center;
}

.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.3rem;
}

.teams-content{
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}

.teams-content-title{
  font-size: 2.8rem;
}

.span-1{
  color: #727272;
  font-weight: 500;
}

.span-2{
  color: #131313;
  font-weight: 700;
}

.span-3{
  color: #FF900E;
  font-weight: 700;
}

.teams-content-description{
  color: #727272;
}

/* features section styles */

/* facts section styles */
.facts-container-title{
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

.facts-container-description{
  color: #727272;
}

.facts-card-container{
  display: flex;
  justify-content: space-around;
}

.facts-card-container .card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  text-align: center;
  padding: 20px;
}

.facts-card-container .card-stats{
  font-weight: 2.8rem;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 1px;
}

.facts-card-container .card-title{
  color: #727272;
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 5px;
}

/* sponsors section styles */
.sponsors-container{
  text-align: center;
}

.sponsors-title{
  color: #131313;
  font-weight: 700;
  font-size: 2.8rem;
}

.sponsors-description{
  color: #727272;
}

.sponsors-img{
  display: flex;
  justify-content: space-evenly;
}

.sponsors-img img{
  max-width: 100px;
  margin-top: 10px;
}

/* responsive media query */
/* mobile devices */
@media screen and (max-width:576px) {
  header{
    padding: 20px;
  }

  nav,
  .teams-container,
  .facts-card-container{
    flex-direction: column;
  }

  .teams-img-container{
    grid-template-columns: 1fr;
  }

  .teams-content,
  .facts-card-container{
    padding-left: 20px;
    padding-right: 20px;
  }

  .facts-card-container .card{
    margin-top: 10px;
  }

  .sponsors-img{
    flex-direction: column;
    align-items: center;
  }
}
/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
  nav,
  .teams-container{
    flex-direction: column;
  }

  .card{
    margin: 10px;
  }

  .sponsors-img img{
    max-width: 80px;
  }
}